body {
    margin: 50px;
    color: white;
    background: #1F2937;
    text-align: left;
}
.title {
    color: #10B981;
    display: block;
}
p {
    color: #D5D4D8;
    font-size: 20px;
}
button {
    background: #10B981;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 3px;
    margin-top: 51px
}
.line {
    border: 1px solid #2F3E53;
    margin-top: 35px;
    width: 440px
}
#btn-1 {
    display: inline-block;
    width: 210px;
    height: 40px;
    background: #2F3E53;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 8px;
    text-align: center;
    padding: 5px;
}
#btn-2 {
    display: inline-block;
    width: 210px;
    height: 40px;
    background: #2F3E53;
    margin-top: 35px;
    margin-left: 8px;
    margin-right: auto;
    text-align: center; 
    padding: 5px;
}